@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  background-attachment: fixed;
}

/*header section*/

.header {
  width: min(90%, 500px);
  margin: auto;
  margin-top: 1rem;
  border: 0.2rem solid hsl(217, 16%, 45%);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.header ul {
  padding: 1rem;
}
.header ul li {
  list-style: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1;
}

.score-section {
  background-color: whitesmoke;
  border-radius: 0.3rem;
  text-align: center;
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0 2rem 0 2rem;
}
.score-section h6 {
  color: hsl(229, 64%, 46%);
  font-size: 1rem;
  font-weight: 200;
  padding-top: 0.2rem;
}
.score-section p {
  color: gray;
  font-size: 3rem;
  font-weight: 700;
}

/*main game section*/

.game {
  background: center / contain no-repeat url(../images/bg-pentagon.svg);
  background-size: 15rem;
  height: 450px;
  width: 300px;
  margin-inline: auto;
}

.game button img {
  width: 1.5rem;
}
.grid-container {
  padding-top: 4rem;
  grid-template-columns: repeat(5, 55px);
  grid-template-rows: repeat(5, 45px);
  display: grid;
  grid-template-areas:
    " . . scissors . ."
    ". . . . ."
    "spock . . . paper"
    ". . . . ."
    ". . . . ."
    ". lizard . rock .";
}

input {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin-inline: auto;
  cursor: pointer;
  background-color: whitesmoke;
}

#rock {
  border: 0.7rem solid #dc2e4e;
  grid-area: rock;
}
#rock:hover {
  background-color: #dc2e4e;
  transition: all 0.3s;
}

#paper {
  border: 0.7rem solid #4865f4;
  grid-area: paper;
}

#paper:hover {
  background-color: #4865f4;
  transition: all 0.3s;
}

#scissors {
  border: 0.7rem solid #ec9e0e;
  grid-area: scissors;
}

#scissors:hover {
  background-color: #ec9e0e;
  transition: all 0.3s;
}

#lizard {
  border: 0.7rem solid #834fe3;
  grid-area: lizard;
}
#lizard:hover {
  background-color: #834fe3;
  transition: all 0.3s;
}

#spock {
  border: 0.7rem solid #40b9ce;
  grid-area: spock;
}
#spock:hover {
  background-color: #40b9ce;
  transition: all 0.3s;
}

/*rules section*/
.modal {
  padding-top: 2rem;
  background-color: whitesmoke;
  width: 22rem;
  height: 38rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.modal.open {
  visibility: visible;
}

.modal.close {
  display: none;
}
.modal .content {
  padding: 1rem;
  order: 2;
}

.modal p {
  font-size: 1.5rem;
  color: hsl(214, 47%, 23%);
  order: 1;
  font-weight: 700;
  text-transform: uppercase;
}
.modal .closeBtn {
  order: 3;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/*choice section*/

.choice {
  border: 2px solid black;
  padding-top: 2rem;
  width: min(100%, 500px);
  margin-inline: auto;
  display: grid;
  grid-template-areas:
    "user .  house"
    ". results .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.choice p {
  color: white;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.resultsSection {
  grid-area: results;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-choice {
  grid-area: user;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.house-choice {
  grid-area: house;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}


.result {
  padding-bottom: 1rem;
  color: white;
  font-size: 1.6rem;
  text-align: center;

}

.playAgain {
  font-size: 1rem;
  color: hsl(214, 47%, 23%);
  font-weight: 700;
  text-transform: uppercase;
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
}
/*rules button */
.openModalBtn {
  background-color: transparent;
  border: 0.1rem solid hsl(217, 16%, 45%);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.rules {
  width: 7rem;
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
}
